{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if validlink %}
                <h3>  Change your Password </h3>
                <form action="." method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy  }}
                    <button class="btn btn-info" type="submit"> Update</button>
                </form>
                {% else %}
                Link is not valid . Please send again Password reset request <a href="{% url 'password_reset' %}">send request</a>
                {% endif %}
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}