<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product.com_insertpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    body{background-color: yellowgreen;}
    i{color: red; font-style: italic;}
    .jumbotron{margin-bottom: 0px; border-bottom: 5px solid red;}
    .jumbotron p{font-size: 36px; color: red; font-weight: bold; max-height: 20px;}
    .container{ background-color: #eee; }
    .container a {text-align: center; font-size: 28px;}
    table td{font-weight: bold; color: #000;}
</style>
</head>

<body>
 <marquee behavior="alternate" width="100%"><h1>Welcome to <i>Product Info</i>Project </h1></marquee>

 <div class="jumbotron text-center"> <p>Please Insert Product Details</p></div>
 <div class="container">
     <div class="row">
         <div class="col-md-offset-4">
             <div class="col-md-6">
                 <form  method="POST">
                      {% csrf_token %}
                     <table class="table">
                            <thead>
                            <tr>
                                <td>Product id:</td><td>{{ dform.pid }}</td>
                            </tr>
                            </thead>
                     </table>
                         <center><input type="submit" value="submit" class="btn btn-primary btn-md"></center>
                 </form>

          <h3><a href="./">Click here to go home page</a></h3><br>
             </div>
         </div>
     </div>
 </div>
</body>
</html>