<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product.com</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    body{background-color: yellowgreen;}
    i{color: red; font-style: italic;}
    .jumbotron{ border-bottom: 5px solid red;}
    .jumbotron p{font-size: 36px; color: red; font-weight: bold; max-height: 20px;}
    .container{ background-color: #eee; }
    .container a {text-align: center; font-size: 28px; margin:20px;}
</style>
</head>

<body>
 <marquee behavior="alternate" width="100%"><h1>Welcome to <i>Product Info</i>Project </h1></marquee>

 <div class="jumbotron text-center"> <p>Please select Required operation</p></div>
 <div class="container">
        <div class="row">
            <div class="col-md-offset-4">
                <a href="./insert">Click here to Insert the Product</a><br>
                <a href="./details">Click here to Display the Product</a><br>
                <a href="./update">Click here to Update the Product</a><br>
                <a href="./delete">Click here to Delete the Product</a><br>
                </div>
            </div>
        </div>
</body>
</html>
