<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product.com</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .container{background-color: cyan;}
    form {background-color: chocolate; padding: 10px; border-radius: 5px; margin-top: 20px; border:red 5px solid;}
    h1{font-family: cursive; color: red;}
</style>
</head>

<body>
<div class="container">
    <center><h1>Please Register Your Details Here..</h1></center>
     <div class="row">
         <div class="col-md-offset-3 col-md-4">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <br><br>
        <center><input class="text-center btn btn-md bg-success" type="submit" value="Register"> </center>
    </form>
         </div>
     </div>
</div>

</body>
</html>