{% extends "base.html" %}
{% load urlify %} <!--share_content_filter-->
{% block head_title %} {{ instance.title }} | {{ block.super }}{% endblock %}

{% block content %}


<div class="col-md-6 offset-md-3">

    {% if instance.image %}
   <img src="{{ instance.image.url }}" class="img-responsive">
    {% endif %}
    <h1>{{ title }} </h1><small> {% if instance.draft %} <span style="color: red">Draft</span>
    {% endif %} {{ instance.publish }}</small>

    <!--{{ share_string }} #for share content-->

    {% if instance.user.get_full_name %}
    <p class="text-muted">Author: {{ instance.user.get_full_name }}</p>
    {% endif %}

    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>

    <a href="https://twitter.com/home?status={{ instance.content|urlify }}%20{{ request.build_absolute_uri }}">
        Twitter</a>

    <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google+</a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}
    &title={{ instance.title }}&summary={{ instance.content|urlify }}&source={{ request.build_absolute_uri }}">
        Linkedin </a>

<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="" data-layout="button_count"
     data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
<hr>
<div class="row">
    <div class="col-sm-12">
    {{ instance.content|linebreaks }}

    <hr/>

    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="100%" data-numposts="2"></div>
</div>
    </div>
</div>
{% endblock %}
